<form action="" id="web_development_form" style="display: none;">
    <label for="">Please choose which type of work you want:</label>
    <select name="" id="web_dev_info">
        <option value="0">--Select--</option>
        <option value="full website development">Full website development</option>
        <option value="Front End work only">Front End work only</option>
        <option value="Backend work only">Backend work only</option>
        <option value="Website re-design">Website re-design</option>
        <option value="Features addition">Features addition</option>
        <option value="Deployment">Deployment</option>
        <option value="Migration & Backup">Migration & Backup</option>
        <option value="Other work">Other work</option>
    </select>

    <div class="web_info" style="display: none;">
        <label for="">Enter your details below:</label>
        <textarea name="" id="" cols="30" rows="10">
        </textarea>
    </div>

    <input type="submit" value="Submit">
</form>