 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Below are the main services that i am offering and you can also ask if 
          you have some special requirements.</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="#">Web Development</a></h4>
            <p class="description">Custom functionality website, Bussiness website, portfolio site,
                        Private company sites, see <a class="btn btn-outline-info btn-sm" 
                        href="{{ url_for('main.web_development') }}"
                        onmouseover="this.style.color='white';"
                        onmouseout="this.style.color='blue';">details page</a></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">E-Commerce store</a></h4>
            <p class="description">Build your bussiness with me. fully funtional eCommerce store
                                    with payments and other usefull functionalities. see
                                    <a class="btn btn-outline-info btn-sm" 
                                    href="{{ url_for('main.ecommerce') }}"
                                    onmouseover="this.style.color='white';"
                                    onmouseout="this.style.color='blue';">details page</a></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Web Scraping & Automation</a></h4>
            <p class="description">Get usefull data from any website. full products specification.
                                   Get and upload it to your site automatically. see
                                   <a class="btn btn-outline-info btn-sm" 
                                   href="{{ url_for('main.web_scraping') }}"
                                   onmouseover="this.style.color='white';"
                                   onmouseout="this.style.color='blue';">details page</a></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class='bx bx-shape-circle'></i></div>
            
            <h4 class="title"><a href="">API (Application Programming Interface)</a></h4>
            <p class="description">Link third party services like payment integration, social media login,
                                   live news feeds, match scores and much more. see 
                                   <a class="btn btn-outline-info btn-sm" 
                                   href="{{ url_for('main.api') }}"
                                   onmouseover="this.style.color='white';"
                                   onmouseout="this.style.color='blue';">details page</a></p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

