<!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>i want to make a website so what whould be the budget of a basic website?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              It depends upon the how much content you want and what functionalities you want in 
              your website. for getting a quotation of your work, feel free to contact us from below 
              form. I will be happy to answer your questions.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Do you also offer hosting services? or how can we see our website online?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              I am not offering web hosting or any referals. I can deploy your site on any web hosting
              platform you want. there are many like hostgator.com, bluehost.com, 1and1.com and much more.
              you can purchase the subscription and i will do the rest for you. message us for getting more info.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>I want to scrape a website what whould be the cost?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              It depends upon 2 things. first is the security of website that it is using
              any protection service or not. second is the quantity of data that how much data
              you want to scrape. all data formats are available like ".csv", ".xlsx", ".json" and
              others too.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Will you provide me data only or the script too? what if i want to run it
                by myself?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              I will provide script too so you can easily scrape data from your own system.
            I will also teach you to run the script through a video session. if you want only
            data then i can provide you data in cheaper price and in less time.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>What if i want to hire you to help me in my project and pay for per hour?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Sure! i can help you in completing your project. You can hire me for milestone or perhour basis.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>I want to hire you for some work now what is the processdure?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Currently i am not accepting direct payments through this website. you have to 
              hire me through a freelancing platform like fiverr, upwork, guru or any other.
              if you will be my regular client then we can set a direct payment system.
              Send me a message so i can guide you.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->


      </div>
    </section><!-- End F.A.Q Section -->